.title {
	text-align: center;
}

.card-image {
	max-width: 50%;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #ccc;
}

.card-text {
	max-width: max-content;
}

.card-container {
	display: flex;
}
